<!DOCTYPE html>
<html>
<head>
  <title>RecoveryBuilder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lux/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">

          <%=link_to "Home", user_path(session[:user_id]), class:"navbar-brand"%>
          <%=link_to "Sign Out", new_user_path, class:"navbar-brand"%>
          <%=link_to "Login", '/signin', class:"navbar-brand"%>
          </div>
<%= yield %>

</body>
</html>
