<%if @user%>
<h1>Highlights For <%=@user.name%></h1>
<a href="/users/<%=@user.id%>/highlights" class="load_highlights" id = <%=@user.id%>>Load Highlights</a>
<%else%>
<h1>All Highlights</h1>
<%end%>

<%@highlights.each do |h|%>
<p><%=h.created_at.strftime("%B %d, %Y") %> - <%= h.content%> (<%=h.user.name if h.user%>)</p>
<%end%>
<div id="h">
<ul>

</ul>
</div>
