<h1>Set new Goals</h1>
<%=form_for @goal do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<%=f.label :point_value%>
<%=f.text_field :point_value%>
<%=f.hidden_field :house_id, value: current_user_house%>
<br>
<br>
<%=f.submit%>
<%end%>
