<div class= "show">
<h1><%=@goal.name%></h1>
<h2>This Goal is worth <%=@goal.point_value%> points</h2>
<br>
<%=form_for @completion do |f|%>
<%=f.hidden_field :user_id%>
<%=f.hidden_field :goal_id%>
<%=f.hidden_field :completed, value: true%>
<%=f.submit "Complete This Goal"%>
<%end%></div>
