<div class="errors"><%if !@user.errors.blank?%>
<%=@user.errors.full_messages.first%>
<%elsif flash[:notice]%>
<%=flash[:notice]%>
<%end%></div>
<br>
<%=form_for @user do |f|%>
<p><%=f.label :name%>
<%=f.text_field :name%></p>
<%=f.label "Choose a House"%>
<%=collection_select(:house, :id, @houses, :id, :name, prompt: "Select House")%>
<p><%=f.label "Check here if you are a Manager"%>
<%=f.check_box :manager%></p>
<p><%=f.label :password %>
<%=f.password_field :password if !logged_in %></p>
<p><%=f.submit%></p>
<%end%>
