
<div class="show">
<h1>Welcome <%=@user.name%>!</h1>
<%=check_errors%>
<br>
<h1>You Currently Have <%=@user.points%> Points</h1>
<%if @user.house%>
<h3>You are in <%=@user.house.name%></h3>
<%else%>
<h3>You have not been assigned to a house yet.</h3>
<%end%>
<br>
<%if @user.manager%>
<%=link_to 'Create a new house', new_manager_house_path%>
<p><%=link_to 'Create New Goals', new_goal_path%></p>
<%end%>
<%=link_to "Gain Some Recovery Points!", goals_path%>
<p><%=link_to "Update User Account", edit_user_path(@user)%></p>
</div>
