
<h1>Welcome <%=@user.name%>!</h1>
<%=check_errors%>
<br>
<h3>You are in <%=@user.house.name%></h3>
<%=link_to 'Sign Out', logout_path, method: 'delete'%>
<br>
<%if @user.manager%>
<%=link_to 'Create a new house', new_manager_house_path%>
<p><%=link_to 'Create New Goals', new_goal_path%></p>
<%end%>
